In [49]:
import pandas as pd

In [50]:
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.style.use('ggplot') # optional: for ggplot-like style

In [51]:
df=pd.read_excel(r'D:\esther.xlsx')
df.columns

Index(['item_Name', 'UOM', 'IS GROUP AFRICA', 'Eddlust Concepts Ltd',
       'Bhoomi Supply Ltd', 'Great Lakes Trading Tropical Co. Ltd',
       'ECA Supplies and Services Ltd', 'Design Series & Supplies Limited',
       'kisco International Ltd', 'M/s Office Automation & Equipment Ltd',
       'M/s Megaline Agencies Limited', 'M/s JTM Business Solutions Limited',
       'M/s Shreeji Stationers 2009 (U) Limited',
       'M/s Janine Services Limited',
       'M/s Alpha Office Solutions Enterprises Ltd',
       'M/s Julian Emmie Solutions'],
      dtype='object')

In [52]:
cols=list(df.columns)[2:]
cols

['IS GROUP AFRICA',
 'Eddlust Concepts Ltd',
 'Bhoomi Supply Ltd',
 'Great Lakes Trading Tropical Co. Ltd',
 'ECA Supplies and Services Ltd',
 'Design Series & Supplies Limited',
 'kisco International Ltd',
 'M/s Office Automation & Equipment Ltd',
 'M/s Megaline Agencies Limited',
 'M/s JTM Business Solutions Limited',
 'M/s Shreeji Stationers 2009 (U) Limited',
 'M/s Janine Services Limited',
 'M/s Alpha Office Solutions Enterprises Ltd',
 'M/s Julian Emmie Solutions']

In [53]:
##use melt function to turn data into a normalised format
df1 = pd.melt(df, id_vars=['item_Name', 'UOM'], value_vars=cols)
### we put column namws 
col_n=["item_name","UOM","Company","Rate"]
df1.columns=col_n
#df1.head()
df1.head()

,item_name,UOM,Company,Rate
0,"Photocopying papers: - Size A4, White in colo...",Ream,IS GROUP AFRICA,23760
1,"Photocopying papers - Size A3, White in colou...",Ream,IS GROUP AFRICA,33000
2,Duplicating Papers- Size A4,Ream,IS GROUP AFRICA,23760
3,Ruled papers –Size A4,Ream,IS GROUP AFRICA,19800
4,"Cabinet papers- Pink in colour- Size A4, 80 g/m2",Ream,IS GROUP AFRICA,39600

In [54]:
df1['Rank'] = df1.groupby(['item_name'])['Rate'].rank(method='dense', ascending=True)

In [55]:
df1.tail()

,item_name,UOM,Company,Rate,Rank
1479,Archive Boxes,Piece,M/s Julian Emmie Solutions,32400,7.0
1480,Pair of Scissors,Piece,M/s Julian Emmie Solutions,54000,9.0
1481,Hard Disks 2 Tele bite,piece,M/s Julian Emmie Solutions,432000,6.0
1482,Hard Disks 1 Tele bite,piece,M/s Julian Emmie Solutions,345600,6.0
1483,"Rapid, Executive PVC, Spring File, A4,",piece,M/s Julian Emmie Solutions,2500,4.0

In [56]:
df1=df1.sort_values('item_name')
df1.to_excel(r'D:\esther4.xlsx')